@{
    ViewData["Title"] = "Home";
}

<h2>Home</h2>

<figure class="floatright">
    <img src="/images/johnny.jpg" alt="winding road" width="200" height="150" />
</figure>
<ul>
    <li>In this web application models can check their previous tasks </li>
    <li>In this web application models can check their future tasks</li>
    <li>In this web application models can report the price for a specific task</li>
    <li>In this web application models can add task</li>
</ul>
<div>
    Falsk Vej 90<br />
    8000, Aarhus C<br />
    <a id="mobile" href="tel:+45 20 00 20 00">+45 20 00 20 00</a>
</div>