
@{
    ViewData["Title"] = "TreeSensor";
}


<div class="text-center">
    <h1 class="display-4">Locations currently tracked</h1>
    <p>Learn about <a href="https://i.kym-cdn.com/photos/images/newsfeed/001/338/858/e39.png">A list of currently tracked location will be viewed here.</a>.</p>
</div>

